<div class="card">
  <div class="card-header">Cart</div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="productMap">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <!-- <th>Price</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of productMap | keyvalue"
          class="table-row align-baseline"
        >
          <td>
            {{ product.key }}
          </td>
          <td>{{ product.value.length }}</td>
          <td>{{ product.value | sum : "price" }}</td>
          <!-- <td>
            {{ product.price | currency : "SEK" : "symbol" : "1.2-2" }}
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
