.nav {
  display: flex;
  background-color: #41464b;
  box-shadow: -1px 0px 20px 1px;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  * {
    height: 100%;
  }
  &__item {
    border: none;
    color: white;
    background-color: transparent;
    &:hover {
      background-color: #2f3336;
      border-radius: 3px;
      // Spinning annomation
    }
  }
}
.mongo {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
