<div class="product-container">
  <div class="product-container__item" *ngFor="let product of filteredProducts">
    <img
      [src]="product.imageUrl"
      [title]="product.productName"
      [style.width.px]="260"
      alt="product image"
    />
    <div>{{ product.productName }}</div>
    <div>
      1 dosa - {{ product.price }} kr
      <button
        type="button"
        class="fa fa-cart-plus product-container__button"
        (click)="handleAddToCart(product)"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
