<div class="product-container">
  <div class="product-container__item" *ngFor="let product of filteredProducts">
    <img
      [src]="product.imageUrl"
      [title]="product.productName"
      class="product-container__img"
      alt="product image"
    />
    <div>{{ product.productName }}</div>
    <div>
      1 can - {{ product.price }} kr
      <button
        type="button"
        class="fa fa-cart-plus product-container__button"
        (click)="this.cartService.addToCart(product)"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
