<div class="card">
    <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center text-success">
        <h3>{{pageTitle}}</h3>
      </div>

      <div class="text-center">Din snusbutik på nätet</div>
      <div class="text-center text-secondary" style="font-size: 10px;">
        <p class="">OBS snus är farligt</p>
      </div>
    </div>
  </div>
</div>
